.navbar-default {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
}

.navbar-brand {
  padding: 0 15px;
}
.logo {
  max-height: 50px;
}

.header {
  background-color: #000;
  min-height: 22.3vh;
}
.fade-in {
  position:absolute;
  top:0px;
  left:50%;
  margin:auto;
}
.fade-in img {
      position: absolute;
      left: -6px;
      top: 38.8vh;
      max-height: 76px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 32s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 32s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    -webkit-animation-delay: -26s;
}
#f2 {
    -webkit-animation-delay: -22s;
}
#f3 {
    -webkit-animation-delay: -18s;
}
#f4 {
    -webkit-animation-delay: -14s;
}
#f5 {
    -webkit-animation-delay: -10s;
}
#f6 {
    -webkit-animation-delay: -6s;
}
#about {
  min-height: 400px;
  background-color: #fff;
}

.section-heading {
  font-family: 'Archivo Black', sans-serif;
  color: #000;
}


.text-faded {
    color: #7b7a7a;
}

#services {
  background-color: #f05f40;
}

.text-primary {
    color: #fff;
}

.fa-code {
    font-size: 80px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(0,0,0,.8);
}

.facebook {
  margin: 0 auto;
  font-size: 30px;
}

.linkedin {
  font-size: 30px;
}

.twitter {
  font-size: 30px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 801px) {
  .fade-in img {
    top: 28.8vh;
    max-height: 7.8vh;
  }
}
