.navbar-default {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  padding: 0 15px;
}
.logo {
  max-height: 50px;
}

.header {
    background-color: #000;
  }

#about {
  min-height: 400px;
  background-color: #fff;
}

.section-heading {
  font-family: 'Archivo Black', sans-serif;
  color: #000;
}


.text-faded {
    color: #7b7a7a;
}

#services {
  background-color: #f05f40;
}

.text-primary {
    color: #fff;
}

.fa-code {
    font-size: 80px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(0,0,0,.8);
}

.facebook {
  margin: 0 auto;
  font-size: 30px;
}

.linkedin {
  font-size: 30px;
}

.twitter {
  font-size: 30px;
}
